@using Blog.Core.DTOs;
@model LogInCredentialsDto


<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="col-md-5 p-4 border border-2">
        <form method="post">
            <div class="pb-4">
                <h1 class="text-center">Sign In</h1>
            </div>

            <div>
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>

            <div class="mb-4 row">
                <input type="email" class="form-control" placeholder="Email" asp-for="@Model.Email">
                <span></span>
            </div>
            <div class="mb-4 row">
                <input type="password" class="form-control" placeholder="Password" asp-for="@Model.Password">
                <span></span>
                <div class="row form-check pt-2 mb-2">
                    <div class="">
                        <input type="checkbox">
                        <label class="form-check-label">Remember Me</label>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <button type="submit" class="btn">Login</button>
            </div>
        </form>
    </div>
</div>
