<body>


        <div class="container d-flex justify-content-center align-items-center vh-100">
            <div class="col-md-5 p-4 border border-2">
                <form method="post">
                    <div class="pb-4">
                    <h1 class="text-center">Sign In</h1>
                    </div>
                    
                    <div class="mb-4 row">
                        <input type="text" class="form-control" placeholder="Email">
                        <span></span>
                    </div>
                    <div class="mb-4 row">
                        <input type="password" class="form-control" placeholder="Password">
                        <span></span>
                        <div class="row form-check pt-2 mb-2">
                            <div class="">
                                <input type="checkbox">
                                <label class="form-check-label">Remember Me</label>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </form>
            </div>
        </div>





</body>