@using Blog.Core.DTOs;
@model SignUpCredentialsDto



<div class="container d-flex justify-content-center align-items-center vh-100">

    <div class="col-md-5 p-4 border border-2">
        <form method="post">
            <div class="pb-4">
                <h1 class="text-center">Sign Up</h1>
            </div>

            <div>
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>

            <div class="mb-4 row">
                <input type="email" class="form-control" placeholder="Email" asp-for=@Model.Email>
                <span></span>
            </div>

            <div class="mb-4 row">
                <input type="text" class="form-control" placeholder="User Name" asp-for=@Model.UserName>
                <span></span>
            </div>
            <div class="mb-4 row">
                <input type="password" class="form-control" placeholder="Password" asp-for=@Model.Password>
                <span></span>
            </div>
            <div class="mb-4 row">
                <input type="password" class="form-control" placeholder="Password Again" asp-for="@Model.PasswordAgain">
                <span></span>
                
            </div>
            <div class="row justify-content-center">
                <button type="submit" class="btn">Sign Up</button>
            </div>
        </form>
    </div>
</div>

